{% extends "layout.html" %}
{% block content %}
<title>About</title>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto my-5">
            <div id="aboutcard" class="card">
                <div class="card-header">
                    <h1>About The Perfect Slice</h1>
                </div>
                <div class="card-body">
                    <p class="lead">The Perfect Slice is a pizza restaurant that has been in business for 20 years. We
                        have a
                        wide
                        variety of pizzas,
                        including vegetarian, vegan, and gluten-free options. We also have a variety of drinks,
                        including soda,
                        beer,
                        and wine. We are located in Kista, Sweden, and we are open from 9am-5pm, Monday-Friday. We are
                        closed on
                        weekends
                        and holidays.</p>

                    <p class="lead">Our pizzas are made with the freshest ingredients, and we use only the best quality
                        cheese
                        and sauce. We also use
                        only the best quality meats and vegetables. We have a wide variety of toppings, including
                        pepperoni,
                        sausage,
                        mushrooms, onions, peppers, and more. We also have a variety of specialty pizzas, including
                        Hawaiian,
                        BBQ
                        chicken, and more. We also have a variety of desserts, including brownies, cookies, and more.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}