{% extends "layout.html" %}
{% block content %}
<title>Profile</title>
<h1 class="my-3 text-center">Profile</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-center">Personal Information</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ current_user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td>{{ current_user.phone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{ current_user.address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="text-center">Order History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ "Completed" if order.completed else "Pending" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}