{% extends "layout.html" %}
{% block content %}
<title>Menu</title>
<h1 id="menutitle" class="my-3 text-center">Pizza Menu</h1>
<div class="container">
    {% if "admin" in session["user"] %}
    <div class="d-flex justify-content-start mb-3">
        <a href="{{ url_for('add_pizza') }}" class="btn btn-primary">Add a new pizza to the menu</a>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for row in row_data %}
        <div class="col">
            <div class="card h-100 pizza-card">
                <div class="card-body">
                    <h5 class="card-title">{{ row[column_names.index('Name')] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ row[column_names.index('Size')] }}</h6>
                    <p class="card-text">Toppings: {{ row[column_names.index('Toppings')] }}</p>
                </div>
                <div class="card-footer">
                    <div class="price-text mb-2">
                        <p class="card-text mb-0">Price: ${{ row[column_names.index('Price')] }}</p>
                    </div>
                    <form action="{{ url_for('add_to_cart', pizza_id=row[column_names.index('id')]) }}" method="post"
                        class="mb-2">
                        <div class="input-group">
                            <input type="number" name="quantity" value="1" min="1" class="form-control w-auto">
                            <input type="submit" value="Add to Cart" class="btn btn-primary rounded">
                        </div>
                    </form>
                    {% if cart %}
                    {% if row[column_names.index('id')] in cart|map(attribute='id') %}
                    <form action="{{ url_for('remove_from_cart', pizza_id=row[column_names.index('id')]) }}"
                        method="post" class="mb-2">
                        <div class="input-group">
                            <input type="submit" value="Remove from cart" class="btn btn-danger mt-2 rounded">
                        </div>
                    </form>
                    {% endif %}
                    {% endif %}
                    {% if "admin" in session["user"] %}
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('edit_pizza', pizza_id=row[column_names.index('id')]) }}"
                            class="btn btn-outline-success">Edit</a>

                        <form action="{{ url_for('delete_pizza', pizza_id=row[column_names.index('id')]) }}"
                            method="post">
                            <input type="submit" value="Delete" class="btn btn-outline-danger">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}