{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chat-form').submit(function (event) {
            event.preventDefault();
            var message = $('#chat-message').val();
            $.post('/chat', { 'message': message }, function (response) {
                $('#chat-log').append('<div class="chat-message">You: ' + message + '</div>');
                $('#chat-log').append('<div class="chat-message">ChatGPT: ' + response + '</div>');
                $('#chat-message').val('');
            });
        });
    });
</script>
<div class="container-fluid">
    <div class="container-fluid" style="display: grid; justify-content: center;">
        <h1>ChatGPT</h1>
        <h4>
            <p>
                This page is using OpenAI's API to enable "chat-completion" using the model "text-davinci-003".
            </p>
            <p>
                Try the ChatGPT by writing something in the input field below!
            </p>
        </h4>
        <div id="chat-log"></div>
        <form id="chat-form">
            <div style="display: flex">
                <input id="chat-message" autocomplete="off" style="size: 100px;"></input>
                <!-- <input id="chat-message" class="form-control form-control-lg" autocomplete="off"
                    style="size: 100px;"></input> -->
                <button class="btn btn-dark" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}