{% extends "layout.html" %}
{% block content %}
<title>ChatGPT</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chat-form').submit(function (event) {
            event.preventDefault();
            var message = $('#chat-message').val();
            $('#chat-log').append('<div class="chat-message user-message">You: ' + message + '</div>');
            $('#chat-message').val('');
            $('#chat-log').append('<div class="chat-message thinking-message">ChatGPT is thinking...</div>');
            $.post('/chat', { 'message': message }, function (response) {
                $('#chat-log .thinking-message').remove();
                $('#chat-log').append('<div class="chat-message bot-message">ChatGPT: ' + response + '</div>');
            });
        });
    });
</script>
<div class="container-fluid">
    <div class="container-fluid" style="display: grid; justify-content: center;">
        <h1>ChatGPT</h1>
        <h5>
            <p>
                This page is using OpenAI's API to enable "chat-completion" using the model "text-davinci-003".
            </p>
            <p>
                Try the ChatGPT AI by writing something in the input field below!
            </p>
        </h5>
        <div id="chat-log" style="margin-top: 50px;">
            <form id="chat-form">
                <div style="display: flex">
                    <input id="chat-message" class="form-control form-control-lg" autocomplete="off" type="text"
                        placeholder="Talk to ChatGPT!"></input>
                    <button class="btn btn-dark" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}