{% extends "layout.html" %}
{% block content %}
<title>Contact</title>
<div class="container-fluid" style="min-height: 550px;">
    <div class="container-fluid" style="display: grid; justify-content: center;">
        <h3>
            Contact information:
        </h3>
        <h4>
            <dl>
                <dt>Name:</dt>
                <dd>Charlie Rosander / Kaliber</dd>
                <dt>Email:</dt>
                <dd>kalitertd@protonmail.com</dd>
            </dl>
        </h4>
    </div>
</div>




{% endblock content %}