<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS/Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap" rel="stylesheet">

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div id="navcontainer" class="container-fluid">
            <button class="btn btn-outline-light me-2" type="button"
                onclick="location.href='http://127.0.0.1:5000/home'">Home</button>
            <button class="btn btn-outline-light me-2" type="button"
                onclick="location.href='http://127.0.0.1:5000/chatgpt'">ChatGPT</button>
            <button class="btn btn-outline-light me-2" type="button"
                onclick="location.href='http://127.0.0.1:5000/about'">About</button>
            <button class="btn btn-outline-light me-2" type="button"
                onclick="location.href='http://127.0.0.1:5000/contact'">Contact</button>

            <!-- Time and Date -->
            <div id="timeanddate">
                <h3>
                    <p id="current-time">
                        {{ timeString }}
                    </p>
                    <p id="current-date">
                        {{ dateString }}
                    </p>
                </h3>
            </div>
        </div>

        <!-- Website Logo and Name -->
        <div id="logocontainer" class="container-fluid">
            <a href="{{ url_for('home_page') }}">
                <img src="/static/logo4.png" alt="logo4" width="200" height="200"
                    class="d-inline-block align-text-bottom">
            </a>
            <h1 id="websiteName">KaliberTestPage</h1>
        </div>
    </nav>
</head>

<!-- <body style="background-image: url(/static/background.png)"> -->

<body>
    <div id="bodypage" class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <div id="creator-text" class="container-fluid">
        <footer>
            <em><small>App/website written/made by Charlie Rosander AKA Kaliber</small></em>
        </footer>
    </div>
    <script>
        function updateTime() {
            var now = new Date();
            var dateString = now.toLocaleDateString();
            var timeString = now.toLocaleTimeString();
            document.getElementById("current-time").innerHTML = timeString;
            document.getElementById("current-date").innerHTML = dateString;
            document.getElementById("current-datetime").innerHTML = "Current time: " + dateString + " " + timeString;

        }
        setInterval(updateTime, 1000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>

</html>