{% extends "layout2.html" %}
{% block content %}
<title>Log in</title>
<div id="logincontainer" class="container-fluid">
    <div id="loginformcontainer" class="container-fluid">
        <h1>Login</h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form id="loginform" action="{{ url_for('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <h5><a href="http://127.0.0.1:5000/signup">Not a member yet? Sign up!</a></h5>
    </div>
</div>
{% endblock content %}